<nav th:fragment="menu" xmlns:th='http://www.thymeleaf.org'>
	<ul>
		<li><a th:href="@{/}">Welkom</a></li>
		<li><a th:href="@{/sauzen}">Sauzen</a></li>
		<li><a th:href="@{/sauzen/alfabet}">Saus alfabet</a></li>
		<li><a th:href="@{/os}">OS</a></li>
		<li><a th:href="@{/kleuren}">Kleur</a></li>
		<li><a th:href="@{/taal}">Taal</a></li>
	</ul>
</nav>
<head th:fragment="head(title)" xmlns:th='http://www.thymeleaf.org'>
	<title th:text="${title}"></title>
	<link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/frida.css}">
</head>
